.cssClass {
    .kwcPagingAbstract {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .even {
        background-color: #F2F2F2;
    }
    .odd, .even {
        padding: 5px;
        font-size: 17px;
    }
}
