.webStandard { font-family: Arial, Helvetica, Verdana, Geneva, sans-serif; font-size: 12px; color: var(typo); }
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard p { line-height: 18px; color: var(typo); margin-bottom: 10px; }

.webStandard h1 { font-size: 25px; margin-bottom: 10px; color: var(mainColor); } /* Überschrift 1 */
.webStandard h2 { font-size: 20px; margin-bottom: 10px; color: var(mainColor); } /* Überschrift 2 */
.webStandard h3 { font-size: 12px; margin-bottom: 5px; } /* Überschrift 3 */

.webStandard a { text-decoration: none; color: var(mainColor); outline: none; }
.webStandard a:hover { text-decoration: none; color: var(secColor); }
.webStandard a:link { text-decoration: none; }

.webStandard ol,
.webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.webStandard li { list-style-type: square; margin-bottom: 5px; line-height: 18px; color: var(typo); }


body.ext-ie6 { text-align: center; }

body.frontend { background: var(lightGray); }

.webListNone ul { margin: 0px; }
.webListNone,
.webListNone li { margin-bottom: 0px; }

.webForm input,
.webForm textarea,
.webForm label,
.webForm button,
.webForm select {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: var(typo);
    line-height: 18px;
}

.webForm label { text-align: left; }
.webForm .submitWrapper { margin: 10px 0px 10px 140px; }
.webForm button { color: var(light); background: none !important; border: none !important; }
.webForm button:hover { color: var(mainColor); }

#innerContent {
    margin-bottom: 25px;
}

.webForm {
    form .kwfField {
        label {
            color: #fff;
        }
        input {
            font-size: 20px;
        }
    }

    .kwfButtonFlat {
        float: right;
        margin-right: 20px;
    }
}

/* BUTTON */
.button {
    background-color: #cc8023;

    button {
        background: none !important;
        border: none !important;
        padding: 5px 10px;
        span {
            color: #fff;
        }
    }
}
