.cssClass {
    max-width: 350px;
    margin: auto;

    .unit-region {
        border: none;
        padding: 0;
        position: relative;
        margin-bottom: 0px;
    }

    .webForm.kwcForm form .kwfField.form_unit {
        position: absolute;
        right: 0px;
        top: 20px;

        .kwfFormFieldWrapper select {
            width: 120px !important;
            font-size: 20px;
            height: 34px;
        }
    }
}
