.cssClass {
    padding-top: 20px;
    background-color: var(mainColorLight);

    .webForm.kwcForm,
    .webForm.kwcForm.veryNarrow.gt350 {
        form {
            padding-left: 25px;

            .kwfField {
                label {
                    text-align: left;
                }
                .kwfFormFieldWrapper.hasLabel {
                    input {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
