.cssClass {
    background-color: var(mainColorLight);

    .webForm.kwcForm,
    .webForm.kwcForm.veryNarrow.gt350 {
        form {

            .kwfField {
                label {
                    text-align: left;
                }
                .kwfFormFieldWrapper.hasLabel {
                    input {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
